{% extends 'base.html' %}
{% block body %}


<div class="container">
        {% for game in games %}
        <div class="row">
            <div class="col-lg-5">
                <div class="list-group">
                
                        <a class="score-boxes list-group-item list-group-item-action" href="/game/{{ game["GAME_ID"] }}">
                            <div class="row">
                                <div class="col-xs-4">
                                    {{ game["TEAM_1_ABBREVIATION"] }} {{ game["TEAM_1_PTS"] }}
                                </div>
                                <div class="col-xs-4">
                                    -&nbsp;
                                </div>
                                <div class="col-xs-4">
                                    {{ game["TEAM_2_ABBREVIATION"] }} {{ game["TEAM_2_PTS"] }}
                                </div>
                            </div>
                        </a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

{% endblock %}
